* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Outfit-Variable";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "YoungSerif-Regular";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    max-width: 430px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-width: 430px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    object-fit: cover;
}

.recipe-title {
    max-width: 430px;
    padding: 1.5em;
}

.recipe-title > h1 {
    font-family: "YoungSerif-Regular";
    font-size: 2.5em;
    color: #353432;
}

.recipe-title > p {
    font-family: "Outfit-Variable";
    font-size: 1em;
    margin-top: 1em;
    color: #5a5653;
}

.prep-time {
    margin: 1.5em;
    max-width: 430px;
    background-color: #fff7fc;
    padding: 1em;
}

.prep-time > h3 {
    color: #682944;
    font-family: "Outfit-Variable";
    font-weight: 600;
    padding-bottom: 1em;
}

.prep-time > ul {
    margin-left: 1em;
    color: #524847;
    display: flex;
    flex-direction: column;
    gap: 1em;
}